fastapi 
fastapi["standard"]
uvicorn 
python-multipart
pydantic 
pydantic-settings
langchain 
langchain-core
langchain-community
langchain-google-genai
langgraph
google-ai-generativelanguage==0.6.15
langchain[google-genai]
google-generativeai 
langsmith 
SQLAlchemy 
typing-extensions
pytest 
pytest-asyncio
httpx
gunicorn 
python-dotenv
structlog 
sqlite3